*.class
*.jar
ceph.conf
keyring.*
target
*.iml
/.settings/
/ceph/
/.classpath
/.project
/bin/
build-indep-stamp
configure-stamp
debian/files
debian/*.debhelper.log
debian/*.substvars
debian/librados-java
